
#cabecera {
    color: black; 
    font-size: 40px;
    font-family: courier;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
    border: 2px solid #636161;
    background-color: yellow; 
    padding: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 4px;
    display: block;
} 

p {
    color: #6f00ff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}